# Build results
[Bb]in/
[Oo]bj/
out/

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Dotnet artifacts & tools
*.dotcover
.localhistory/
*.crash
TestResults/
*.received.*
*.verified.*
